/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
*,
div {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

::selection {
    background: transparent;
}
body {
    background-color: rgb(109, 61, 61);
}
button {
    color: black;
}
.chooser {
    cursor: none;
    position: absolute;
    width: 50px;
    height: 50px;
}
.wrapper {
}
.top-container {
    width: 100%;
    height: 5vh;
    background-color: rgb(109, 61, 61);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

#bg-img {
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: -3;
    opacity: 0.7;
}

#characters-container {
    display: flex;
    width: 100%;
    height: 50%;
}
/* ///////////////// */
/* Personal Character Divs */
/* ////////////////// */
#player-container {                                                
    width: 50%;
    margin-left: 15%;
}
.player-avatar {
    width: 100%;
}
#player-img{
    width: 20%;
    position: relative;
}
.health-values-container {
    position: relative;
}
.health-values-container label{
    position: absolute;
    left: 3.5em;
    top: 0.2em;
    line-height: 1.2em;
}

.energy-container {
    width: 100%;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
}
progress::-webkit-progress-bar {
    border-radius: 100px;
    background-color: rgb(169, 169, 168);
}
progress::-webkit-progress-value {
    background-color: rgb(47, 163, 82);
    border-radius: 100px;
}
.armour-value-container{
    background-color: rgb(82, 82, 82);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: absolute;
    left: -1em;
    top: -0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.armour-background {
    width: 10.2em;
    height: 25px;
    background-color: rgb(82, 82, 82);
    position: absolute;
    top: 2%;
    z-index: -2;
    border-radius: 10px;
}
/* ///////////
/////enemy classes
/////////// */

#enemy-container {
    width: 50%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#enemy-container div:nth-child(odd) {
    margin-top: 25%;
}
.monster-placement img {
    width: 100%;
    transform: scaleX(-1)
}


.enemy-hp-values-container label{
    position: absolute;
    padding-left: 2em;
    font-size: 1.5em;
}

/* ///////////////
dice roll
///////////////
/////////////// */
.roll-container {
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translate(-60%, -52%);
    background-color: rgb(91, 88, 88);
    /* height: 70px; */
    padding: 0.5% 1% 1%;
    border-radius: 8px;
}
.dice-container {
    display: flex;
}
.dice-container-2 {
    display: flex;
}
.card-container {
    width: 100%;
}

.inactive {
    display: none;
}

/* play-area takes entirety of bottom screen, with deck and discard piles taking up a small bit, your hand taking up majority */
.play-container {
    width: 100%;
    height: 40%;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 1%;
}

#deck-container {
    max-width: 10%;
}

#hand-container {
    height: 80%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    gap: 0;
    justify-content: center;
    flex-wrap: nowrap;
}

/* #hand-container > div:nth-child(1){
    position: relative;
    left: -15px;
}
#hand-container > div:nth-child(2){
    position: relative;
    left: -25px;
}
#hand-container > div:nth-child(3){
    position: relative;
    left: -35px;
}
#hand-container > div:nth-child(4){
    position: relative;
    left: -45px;
}
#hand-container > div:nth-child(5){
    position: relative;
    left: -55px;
} */

#discard-container {
    max-width: 10%;
}




/* Card Formating */
.attack, .tactic {
    position: relative;
    max-width: 30%;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin: none;
    transition: transform 0.25s ease-in-out;
    z-index: 5;
    pointer-events: auto;
}

.card-element-top {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 4%;
    right: 12%;
    text-transform: capitalize;
    pointer-events: none;

}

.card-art-asset {
    width: 100%;
    z-index: -3;
    pointer-events: none;
}

.card-description {
    position: absolute;
    top: 60%;
    pointer-events: none;

}